# OS/Editor
.DS_Store
Thumbs.db
*~
*.swp

# Python
__pycache__/
*.pyc
.venv/
env/

# Ansible Artefakte
*.retry
ansible/playbooks/reports/
ansible/playbooks/*.log
ansible/playbooks/*.out
ansible/playbooks/*.bak.*

# VS Code
.vscode/

# Logs
*.log
