# Lokale Toolboxes
zamba-lxc-toolbox/

# Python Virtualenvs
ansible-venv/
.venv/

# Log- und Backup-Dateien
*.log
*.retry
*.bak
*.swp
*.tmp

# Reports & generierte Dateien
ansible/playbooks/reports/
reports/

# Secrets & lokale Variablen
ansible/vault_pass.txt
.env
